

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #e7dfdf;
    background-color: darkviolet;
    position: fixed;

}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header a{
    color: white;
}

.header nav .logo{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .tabs ul {
    display: flex;
    font-size: 20px;
    gap: 30px;
}

.header .nav-icon ul{
    display: flex;
    gap: 25px;
    font-size: large;
    margin-right: 30px;
}

.menu{
    display: none;
}

@media screen and (max-width:900px) {
    .header nav .tabs{
        display: none;
    }

    .menu{
        display: block;
        margin-left: -15px;
    }


}

.mobile-container{
    display: none;
}

.mobile-nav{
    background-color: darkviolet;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.mobile-nav .tabs ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-nav .cross{
    margin-top: 20px;
}

.mobile-nav a{
    color: white;
}

/* HEADING */
.all-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: large;
    color: rgba(0, 0, 0, 0.781);

}

.left-line{
    border: 1px solid rgba(0, 0, 0, 0.781);
    height: 0;
    width: 24%;
}

.right-line{
    border: 1px solid rgba(0, 0, 0, 0.781);
    height: 0;
    width: 24%;
}

@media screen and (max-width:850px) {
    .right-line{
        width: 20%;
    }

    .left-line{
        width: 20%;
    }

    .all-heading{
        gap: 50px;
        font-size: medium;
    }
}

@media screen and (max-width:650px) {
    .right-line{
        width: 15%;
    }

    .left-line{
        width: 15%;
    }

    .all-heading{
        gap: 40px;
        font-size: small;
    }
}

@media screen and (max-width:420px) {
    .right-line{
        width: 10%;
    }

    .left-line{
        width: 10%;
    }

    .all-heading{
        gap: 30px;
        font-size: small;
    }
}

/* SHOP BY AGE */

.age-container{
    display: flex;
    justify-content: space-around;
}

.age-container a{
    color: darkmagenta;
}

.age-container a{
    color: darkmagenta;
}

.age-container1{
    display: flex;
    justify-content: space-around;
}

.age-img{
    width: 150px;
    text-align: center;
}

.age-img img{
    width: 100%;
}
.age{
    margin-top: -30px;
}

.age-mobile{
    display: none;
}

@media screen and (max-width:730px) {
   .age-container{
    display: none;
   }
   .age-mobile{
    display: block;
   }
}

@media screen and (max-width:465px) {
     .age-img{
        width: 100px;
     }
     .age{
        font-size: small;
        margin-top: -20px;
     }
 }

